@font-face {
    font-family: 'DodecaBold';
    src:    url("dodeca_bold_basic-webfont.woff2") format('woff2'),
            url("dodeca_bold_basic-webfont.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'DodecaLight';
    src:    url("dodeca_light_basic-webfont.woff2") format('woff2'),
            url("dodeca_light_basic-webfont.woff") format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: 'Dodeca';
    src:    url("dodeca_reg_basic-webfont.woff2") format('woff2'),
            url("dodeca_reg_basic-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: local('Avenir Book'), local('Avenir-Book'),
		url('hinted-Avenir-Book.woff2') format('woff2'),
		url('hinted-Avenir-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*
    Dark Grey: #19232C
    Light Grey: #273742
    Yellow: #FFE500
    Teal: #00FFEA
*/

body {
    background-color: #19232C;
    color: white;
    font-family: "DodecaBold";
    overflow-x: hidden;
}

.node-box {
    position: fixed;
    top: 0;
    left: 0;
}

.no-scroll {
    overflow: hidden;
}

.intro-block {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
}

.intro-text {
    width: 200px;
}

h1 {
    font-family: 'DodecaBold';
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0px;
}

h4 {
    font-family: Avenir;
    font-weight: lighter;
}

.corner {
    width: 15px;
    height: 15px;
    position: absolute;
    border-color: white;
    border-style: solid;
}

.corner-holder {
    padding: 10px 30px;
    position: relative;
    border: 1px solid #273742;
    background-color: #19232C;
}

.top-left {
    top: -10px;
    left: -10px;
    border-width: 2px 0px 0px 2px;
}

.top-right {
    top: -10px;
    right: -10px;
    border-width: 2px 2px 0px 0px;
}

.bottom-left {
    bottom: -10px;
    left: -10px;
    border-width: 0px 0px 2px 2px;
}

.bottom-right {
    bottom: -10px;
    right: -10px;
    border-width: 0px 2px 2px 0px;
}

.discover-button {
    width: 100%;
    margin-top: 25px;
    border-radius: none;
    font-family: 'DodecaBold';
    border: 1px solid white;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
    vertical-align: top;
    line-height: 2.2;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #19232C;
    min-width: 250px;
}

.discover-button img {
    vertical-align: text-bottom;
    padding-right: 5px;
}

.discover-button:hover {
    background-color: #273742;
}

.info {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
}

.info h3 {
    font-family: 'DodecaBold';
    font-size: 1.2rem;
    margin-bottom: 0;
}

.info p {
    font-size: 0.8rem;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Roboto Mono'
}

/* Main Styles */

main {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    perspective: 1200px;
	transform-style: preserve-3d;

    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.hide-main {
    transform: translateY(100vh);

    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.top-icon {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 200px;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: inline-block;
    display: flex;
}

.tab {
    align-self: flex-end;
    display: inline-block;
    background-color: #1D2A33;
    padding: 15px 45px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
    border-top: 2px solid #273742;
}

.active-tab {
    background-color: #273742;
    border-color: #00FFEA;
}

/* PANEL STYLES */

.panel {
    background-color: #273742;
    min-height: 1000px;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5% 180px 5%;

	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
    height: 0;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.panel-current {
	visibility: visible;
    position: relative;
    height: auto;
    overflow-y: auto;
}

.heading {
    max-width: 800px;
}

.heading h2 {
    margin: 20px 10px;
    font-family: 'DodecaLight';
    font-size: 4.5rem;
    text-transform: uppercase;
    max-width: 750px;
    line-height: 0.95;
    display: inline-block;
}

strong {
    font-family: 'DodecaBold';
}

.head-border {
    height: 170px;
    width: 20px;
    display: inline-block;
    border-right: 1px solid white;
    vertical-align: top;
}

.head-border p {
    transform-origin: 15% 50%;
    -webkit-transform: rotate(90deg);
    font-family: 'Roboto Mono';
    font-size: 0.3rem;
    display: inline-block;
    width: 80px;
}

.heading.explore {
    height: 120px;
}

.heading-text {
    margin-top: 10px;
    width: 100%;
    margin-left: 40px;
    display: flex;
    align-items: flex-start;
}

.pull-quote {
    flex: 2;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0;
    font-family: 'DodecaLight';
}

.intro-p {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    flex: 4;
    line-height: 1.4;
    font-family: 'Avenir';
    vertical-align: top;
    display: inline-block;
}

.stacked {
    flex: none;
    display: block;

}

.intro-p.stacked {
    padding-left: 0;
    padding-top: 10px;
    max-width: 450px;
}

.paragraph {
    margin-left: 40px;
    max-width: 750px;
}

.paragraph h3 {
    text-transform: uppercase;
    font-family: "DodecaBold";
    font-size: 3rem;
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 1;
    margin-bottom: 18px;
}

.paragraph p {
    margin-top: 6px;
    max-width: 450px;
    font-family: "Avenir";
    line-height: 1.4;
}

.paragraph.compare {
    max-width: 400px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    vertical-align: top;
}

.compare-box {
    width: 55%;
    display: inline-block;
}

.compare-word {
    display: inline-block;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 25px;
}



.compare-word h2 {
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 10rem;
    margin-right: 15px;
}

.compare-word-segment {
    display: inline-block;
    margin-right: 6px;
}

.compare-word-segment div {
    margin-top: -15px;
}

.compare-word-segment div h4 {
    margin: 0;
    font-family: 'DodecaBold';
    font-size: 1.5rem;
}

.compare-word-segment div span {
    font-family: 'Avenir';
    opacity: 0.4;
    font-size: 0.9rem;
}

.compare-word .compare-word-segment:last-child h2 {
    opacity: 0.2;
}

.compare-word h2::after {
    content: " ";
    position: absolute;
    background-color: white;
    bottom: 25px;
    left: 0;
    height: 1px;
    width: 100%;
}


.compare-word.cafe h2 {
    font-size: 80px;
    margin-bottom: 15px;
}

.compare-word.cafe h2::after {
    bottom: 10px;

}

.accent::before {
    content: " ";
    position: absolute;
    width: 15px;
    right: 15px;
    top: 18px;
    height: 6px;
    background-color: white;
    transform: rotate(-22deg);

}

.compare-word.cafe .compare-word-segment h2 {
    opacity: 0.4;
}

.compare-word.cafe .compare-word-segment:first-child h2 {
    opacity: 1;
}

.compare-word.cafe .compare-word-segment:last-child h2 {
    opacity: 0.1;
}

/* WORD GRAPH STUFF */

.word-graph-box {
    margin: 80px 0 80px 40px;
}

.word-graph {
    display: inline-block;
    margin-right: 40px;
}

.word-graph svg {
    margin-top: 20px;
    display: block;
}

.word-title {
    display: inline-block;
    border-bottom: 1px solid white;
}

.word-title h4 {
    opacity: 0.5;
    margin: 0;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.word-title h3 {
    margin: 0;
    font-size: 1.6rem;
    text-transform: uppercase;

}

.word-bars {
    fill: white;
}

.word-bar-text {
    text-transform: capitalize;
    font-size: 0.9rem;

    text-anchor: start;
}

.top-words .word-bars {
    fill: #FFE500;
}

.most-words .word-bars {
    fill: #00FFEA;
}

.bottom-words .word-bars {
    fill: #19232C;
}

.bottom-words .word-bar-text {
    fill: white;
}


/* WORD PLOT STUFF */

.word-plot {
    margin-top: 80px;
    z-index: 10;
    margin-bottom: 0;
}

.word-circle {
    fill: #00FFEA;
    opacity: 0.7;
}

.word-circle:hover  {
    fill: #FFE500;
    opacity: 1;
}

.axis text {
	fill: white;
    font-size: 0.7rem;
	font-family: 'Roboto Mono';
}

.axis path,
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.y path  {

}

.axis {
    opacity: 0.4;

    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}

.word-plot:hover .axis {
    opacity: 1;

    -webkit-transition: all ease-in-out 0.05s;
    -moz-transition: all ease-in-out 0.05s;
    transition: all ease-in-out 0.05s;
}

.d3-tip {
    position: relative;
    z-index: 100;
    background: #19232C;
    padding: 10px;
    opacity: 0.2;
    border-radius: 3px;
}

.d3-tip::after {
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color:  #19232C;
	border-width: 10px;
	margin-left: -10px;
}

.d3-tip h4 {
    font-family: 'DodecaBold';
    margin: 0;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.d3-tip span {
    font-size: 0.8rem;
    font-family: 'Roboto Mono';
}



/* MAP STUFF */

.map-diagram {
    width: 100%;
    padding-left: 5%;
    z-index: 0;
    position: relative;
    /*
    transform: rotate(-38deg);
    */
    transform-origin: center;
}

.toronto-map {
    width: 85vw;
    height: 850px;
    margin-top: -90px;
}

.hood {
  fill: #00FFEA;

  stroke-linejoin: round;

  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.select-box {
    border: 1px solid white;
    padding: 10px 15px;
    position: absolute;
    bottom: 140px;
    right: 16%;
}

.select-box h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 5px;;
}

select {
    position: relative;
    color: white;
    border-radius: 0;
    border: none;
    padding: 5px 10px;
    font-family: 'Avenir';
    border-right: 2px solid #00FFEA;

    outline: none;
    background-color: #19232C;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

}

.hood:hover, .active-hood {
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    fill: #FFE500 !important;
    opacity: 1 !important;
    stroke-width: 6px;
}

.hood-boundary {
  fill: none;
  stroke: white;
  opacity: 0.2;
  stroke-linejoin: round;
}

/* LOCATION INFO STYLING */

.map-selections {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.map-selected {
    padding: 30px 25px;
    position: relative;
    max-width: 320px;
    display: inline-block;
    vertical-align: top;
}

.selected-number {
    position: absolute;
    font-family: 'Roboto Mono';
    top: 0px;
    right: 1px;
}

.map-selected.word-title {
    display: inline-block;
}

.map-selected:first-child {
    margin-right: 60px;
}

.selected-info h4 {
    margin: 10px 0;
    font-family: 'DodecaBold';
    font-size: 1.5rem;
}

.selected-info span {
    font-family: 'Avenir';
    text-align: left;
    font-size: 1rem;
}


/* EXPLORE PAGE STYLES */

.input-box {
    width: 60%;
    margin: auto;
    height: 85px;
    vertical-align: top;
}

.input-box input {
    font-family: "DodecaLight";
    outline: none;
    background-color:#273742;
    padding: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    font-size: 2.3em;
    color: white;
    width: 72%;
    border: none;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    display: inline-block;

}

.input-box button {
    vertical-align: bottom;
    font-size: 1.2em;
    font-family: "DodecaBold";
    box-sizing: border-box;
    outline: none;
    border: 2px solid white;
    height: 70%;
    width: 23%;
    background-color: #273742;
    color: white;
    display: inline-block;
}


.input-box button:hover {
    background-color: #273742;
}

.input-box button:active {
    background-color: white;
    color: #19232C;
}

.explore-heading {
    margin: 100px auto 80px auto;
    position: relative;
    text-align: center;
}

.explorer-data {
    display: inline-block;
    margin: 20px auto;
    width: 400px;
    margin-left: 30%;
}

.explorer-data-info {
    margin-left: 30%;
}

/*
    Dark Grey: #19232C
    Light Grey: #273742
    Yellow: #FFE500
    Teal: #00FFEA

.info, .intro-block, main {
    display: none;
}
*/

@media screen and (max-width: 1250px) {
    .toronto-map {
        margin-top: -200px;
    }
}
